<!--/**-->
<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 05/10/2016-->
<!--* Time: 11:12-->
<!--*/-->
<style>
    .input-field input:focus {
        border-bottom: 1px solid #311b92;
        box-shadow: 0 1px 0 0 #000;
    }

    span {
        color: #3d3d3d !important;
    }
</style>
<div class="col s12">
    <div class="card  white lighten-5">
        <div class="card-content">
            <div class="row">
                <span class="card-title">Cadastro de produto</span>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="nome" type="text" class="">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <span>Tamanhos & Valores</span>
                            </div>
                        </div>
                        <div class="row" id="inputs_adicionais"></div>
                        <div class="col s6 offset-s6"></div>
                        <div class="row">
                            <div class="col s6">
                                <button class="btn-floating btn-large waves-effect waves-light blue" id="add">
                                    <i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label" for="Enviar"></label>
                        <button id="Enviar" name="Enviar"
                                class="waves-effect waves-light btn deep-purple darken-3"
                                (click)="cadastrarUsuario()">Enviar
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>