<!--/**-->
<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 05/10/2016-->
<!--* Time: 11:12-->
<!--*/-->
<style>
    .input-field input:focus {
        border-bottom: 1px solid #311b92;
        box-shadow: 0 1px 0 0 #000;
    }

    span {
        color: #3d3d3d !important;
    }
</style>
<div class="col s12">
    <div class="card  white lighten-5">
        <div class="card-content">
            <div class="row">

                <span class="card-title">Cadastro de produto</span>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nome" type="text" class="">
                            <label for="nome">Nome</label>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="preco" type="text" class="validate">
                                <label for="preco">Preço</label>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <select id="tamanho">
                                <option value="" selected>Selecione</option>
                                <option value="1">Pequeno</option>
                                <option value="2">Medio</option>
                                <option value="3">Grande</option>
                            </select>
                            <label for="tamanho">Tamanho</label>
                        </div>
                    </div>

                    <div class="row">
                        <label class="control-label" for="Enviar"></label>
                        <button id="Enviar" name="Enviar"
                                class="waves-effect waves-light btn deep-purple darken-3"
                                (click)="cadastrarUsuario()">Enviar
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>