<!--/**-->
<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 07/10/2016-->
<!--* Time: 11:25-->
<!--*/-->

<style>

    span {
        color: #3d3d3d !important;
    }
</style>
<div class="col s12">
    <div class="card  white lighten-5">
        <div class="card-content">
            <span class="card-title">Listagem de produto</span>
            <div class="">
                <!-- Default panel contents -->
                <table class="bordered">
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="nome">Nome</th>
                    </tr>
                    <!--<tr *ngFor="let usuario of usuarios; let i = index">-->
                    <!--<td>{{usuario.id}}</td>-->
                    <!--<td>{{usuario.nome}}</td>-->
                    <!--<td>{{usuario.email}}</td>-->
                    <!--<td>{{usuario.senha}}</td>-->
                    <!--</tr>-->
                </table>
            </div>
        </div>
    </div>
</div>