<!--/**-->
<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 05/10/2016-->
<!--* Time: 15:15-->
<!--*/-->

<div class="row">
    <!--<div class="col s12">-->
        <!--<ul class="tabs">-->
            <!--<li class="tab col s3"><a routerLink="/produto/cadastro">Cadastro</a></li>-->
            <!--<li class="tab col s3"><a class="active" href="#test2">Listagem</a></li>-->
            <!--<li class="tab col s3"><a href="#test3">Relatórios</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <cadastro-produto></cadastro-produto>
    <router-outlet></router-outlet>
</div>
