<!--/**-->
<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 05/10/2016-->
<!--* Time: 11:12-->
<!--*/-->
<style>
    .input-field input:focus {
        border-bottom: 1px solid #311b92;
        box-shadow: 0 1px 0 0 #000;
    }

    span {
        color: #3d3d3d !important;
    }
</style>
<div class="col s12">
    <div class="card  white lighten-5">
        <div class="card-content">
            <div class="row">
                <span class="card-title">Cadastro de Pedido</span>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" name="nome" type="text" [(ngModel)]="nome" autocomplete="off">
                            <label for="name">Nome do cliente</label>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col s12">
                                <span>Qual você vai querer?</span>
                                <!--<label>Lista de produtos</label>-->
                                <!--TODO: Fazer um link de um modal com os produtos -->
                                <!--TODO: Ter a opção neste modal para os produtos mais pedidos-->
                                <!--TODO: Pode ter também a opção Aleatório-->
                            </div>
                        </div>
                        <div class="row" id="inputs_adicionais" style="display: none;">

                            <div class="row">
                                <div class="input-field col s7">
                                    <!--<input type="text" class="produtos" name="produto[]" autocomplete="off">-->
                                    <select name="produto[]" id="produto0" data-size="10" class="produtos">
                                        <option value="" selected>Selecione o produto</option>
                                        <option value="{{produto.id}}" *ngFor="let produto of produtos">
                                            {{produto.nome}}
                                        </option>
                                    </select>
                                    <label for="produto0">Produtos</label>
                                </div>
                                <div class="input-field col s3">
                                    <select name="tamanho[]" class="tamanhos" id="tamanho0">
                                        <option value="" selected>Choose your option</option>
                                        <option value="1" *ngFor="let tamanho of tamanhos">Option 1</option>

                                    </select>
                                    <label for="tamanho0">Tamanho</label>
                                </div>
                                <div class="col s2">
                                    <button
                                            class="btn-floating btn-large waves-effect waves-light red" disabled>
                                        <i class="material-icons">clear</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 offset-s6"></div>
                        <div class="row">
                            <div class="col s6">
                                <button class="btn-floating btn-large waves-effect waves-light blue" id="add"
                                        (click)="gerarProdutos()" style="display: none">
                                    <i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label" for="Enviar"></label>
                        <button id="Enviar" name="Enviar"
                                class="waves-effect waves-light btn deep-purple darken-3"
                                (click)="cadastrar()">Enviar
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>