<!--* Created by PhpStorm.-->
<!--* User: Márcio Lucas-->
<!--* E-mail: marciioluucas@gmail.com-->
<!--* Date: 03/10/2016-->
<!--* Time: 14:26-->
<style>
    header, main, #botao {
        padding-left: 300px;
    }

    @media only screen and (max-width: 992px) {
        header, main, footer, #botao {
            padding-left: 0;
        }
    }


</style>
<header class="">
    <nav>
        <ul id="slide-out" class="side-nav fixed">
            <li class="logo" style="text-align: center; color: #4527a0">
                <h3 id="logo-container" class="panel-title">< s.order/></h3>
                <hr class="container" style="opacity: 0.5;"/>
            </li>
            <li><a routerLink="/produto">Produtos</a></li>
            <li><a routerLink="/pedidos">Pedidos</a></li>
            <li><a routerLink="/usuario">Usuarios</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        <div class="nav-wrapper deep-purple darken-3">
            <ul id="nav-mobile" class="left hide-on-med-and-down right">
                <li><a class="dropdown-button" href="#!" data-activates="menuDeDropdown"><i class="material-icons right">more_vert</i></a></li>

            </ul>
        </div>
    </nav>
    <ul id="menuDeDropdown" class="dropdown-content">
        <li><a [routerLink]="['/usuario/perfil']">Perfil</a></li>
        <li><a [routerLink]="['/usuario/sair']">Sair</a></li>
        <!--<li class="divider"></li>-->
    </ul>

</header>


<main>
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body" style="margin-bottom: 100px">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<footer class="page-footer grey darken-3" style="width: 100%; bottom: 0; position: fixed; z-index: 9999">
    <div class="footer-copyright">
        <div class="container">
            © 2016 - Feito com <i class="material-icons red-text">favorite</i> por Márcio Lucas.
            <a class="grey-text text-lighten-4 right" href="https://github.com/marciioluucas/front-s.order">Project repository on Github.</a>
        </div>
    </div>
</footer>